<ion-header no-border>
  <ion-navbar>
    <ion-title>
      <ng-container *ngIf="!search; else wallet">
        CryptoMoon
      </ng-container>
      <ng-template #wallet>
        Choose your coin
      </ng-template>
    </ion-title>
  </ion-navbar>
  <ion-toolbar class="list-header">
    <ion-item detail-none no-lines>
      <ion-select item-start
                  [(ngModel)]="sorter"
                  [interface]="'action-sheet'"
                  (ionChange)="sorterChanged($event)">
        <ion-option #item *ngFor="let sorter of sorters" [value]="sorter.value">
          {{sorter.name}}
        </ion-option>
      </ion-select>
      <span item-end>
        {{coinListLength}} coins
      </span>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="big-loader" name="crescent" *ngIf="isLoading"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"
                           refreshingSpinner="crescent"
                           refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="search">
    <ion-searchbar (ionInput)="filterCoinsOnSearch($event)"></ion-searchbar>
  </ng-container>
  <ion-list [virtualScroll]="coins" [virtualTrackBy]="trackByCoin" no-lines>
    <ion-item-sliding *virtualItem="let coin">
      <button ion-item (click)="selectedCoin(coin)" detail-none>
        <ion-avatar class="logo" item-start>
          <ion-img width="36" height="36" [src]="coin.imageUrl" [alt]="coin.name"></ion-img>
        </ion-avatar>
        <ion-label>
          {{coin.name}}
        </ion-label>
        <small item-content class="price-change" [ngClass]="{'negative' : detectChange(coin.change)}">
          {{coin.change | numberFormatter: 'perc'}}%
        </small>
        <span item-end class="price">
          <span>{{coin.currency.symbol}} {{coin.price| numberFormatter: 'price'}}</span>
        </span>
      </button>
      <ion-item-options>
        <button ion-button color="primary">
          <ion-icon name="star" item-start></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
