page-coin-list {
  //.list-header {
  //  & .item[no-lines],
  //  & .item.item[no-lines] .item-inner,
  //  & .select {
  //    font-size: 1.4rem;
  //  }
  //
  //  & .select .select-icon {
  //    position: relative;
  //    width: 18px;
  //    height: 18px;
  //    top: 3px;
  //  }
  //}

  .grid, .col {
    padding: 0;
  }

  .select-ios {
    padding: 0.5rem 1.7rem;
  }

  .select-ios .select-icon .select-icon-inner {
    top: 65%;
    color: $text-color-dark;
  }

  ion-select {
    position: relative;
    max-width: 100%;
    text-align: right;
    color: $text-color-dark;
  }

  .select-custom {
    text-align: right;
  }

  .select-custom-wrapper {
    display: inline-block;
  }

  .segment .segment-button:first-of-type {
    margin-right: -2.5%;
  }

  .segment .segment-button:last-of-type {
    margin-left: -2.5%;
  }

  .button-skewed {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    transition: clip-path, background-color 250ms;

    &.active {
      clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    }
  }

  .button-skewed--inverse {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
    transition: clip-path, background-color 250ms;

    &.active {
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
    }
  }
}
