// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@font-face {
  font-family: 'icomoon';
  src: url($font-path + '/icomoon.eot?kg1csh');
  src: url($font-path + '/icomoon.eot?kg1csh#iefix') format('embedded-opentype'),
  url($font-path + '/icomoon.ttf?kg1csh') format('truetype'),
  url($font-path + '/icomoon.woff?kg1csh') format('woff'),
  url($font-path + '/icomoon.svg?kg1csh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #95adc1,
  secondary: #32db64,
  danger: #cc5050,
  light: #f4f4f4,
  dark: #222
);

$colors: (
  primary: #97B2D6,
  secondary: #2C466B,
  secondary-light: #4E698D,
  secondary-dark: #1F3A5E,
  danger: #c15c5c,
  light: #97B2D6,
  dark: #1F3A5E
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
$text-color: map-get($colors, secondary);
$background-color: #132433;
$toolbar-background: $background-color;
$list-border-color: $toolbar-background;
$tabs-background: darken($background-color, 3%);
$button-ios-text-color: #132433;

$toolbar-ios-height: 60px;
$spinner-ios-crescent-color: #fff;
$list-ios-activated-background-color: #234263;
$list-ios-header-color: $text-color;
$list-ios-header-color: $text-color;
$list-ios-header-border-bottom: $hairlines-width solid $background-color;
$toolbar-ios-title-text-color: $text-color;
$toolbar-ios-button-color: $toolbar-ios-title-text-color;
$font-family-base: 'Oswald', sans-serif;

$toolbar-ios-active-color: $text-color;

$loading-ios-spinner-color: $text-color;

$tabs-tab-color-active: $text-color;
$tabs-tab-color-inactive: #35546f;
$tabs-ios-border: none;

$tabs-ios-tab-min-height: 65px;

$toast-ios-background: rgba(228, 107, 32, 1);
$select-ios-padding-left: 0;
$item-ios-divider-background: $tabs-background;
$item-ios-divider-color: $text-color;

////////////////

$font-size-base: 1.6rem;
$text-color: map-get($colors, light);
$text-color-dark: map-get($colors, dark);

$background-color: map-get($colors, secondary-light);
$tabs-background: map-get($colors, secondary);

$toolbar-background: map-get($colors, secondary);
$toolbar-ios-title-font-size: 2rem;
$toolbar-md-title-font-size: 2rem;
$toolbar-wp-title-font-size: 2rem;
$toolbar-ios-title-text-color: $text-color;
$toolbar-md-title-text-color: $text-color;
$toolbar-wp-title-text-color: $text-color;
$toolbar-ios-title-font-weight: 100;
$toolbar-wp-title-font-weight: 100;

$list-background-color: map-get($colors, secondary-light);
$list-ios-activated-background-color: transparent;
$list-md-activated-background-color: transparent;
$list-wp-activated-background-color: transparent;

$item-ios-avatar-size: 30px;
$item-md-avatar-size: 30px;
$item-wp-avatar-size: 30px;

$refresher-border-color: transparent;
$refresher-icon-color: $text-color;
$refresher-icon-font-size: 20px;
$refresher-text-color: $text-color;
$refresher-text-font-size: 12px;

$toolbar-ios-padding: 0;
$toolbar-md-padding: 0;
$toolbar-wp-padding: 0;

$segment-button-ios-background-color: map-get($colors, secondary);
$segment-button-ios-background-color-activated: map-get($colors, secondary-light);
$segment-button-ios-text-color: $text-color;
$segment-button-ios-transition-activated: 100ms all linear;
$segment-button-ios-transition-hover: 100ms all linear;
$segment-button-ios-transition-active: 100ms all linear;
//$segment-button-ios-opacity-hover: .1;
//$segment-button-ios-opacity-active: .16;
//$segment-button-ios-opacity-activated: 1;
//$segment-button-ios-opacity-disabled: .3;
$segment-button-ios-border-width: 0;
$segment-button-ios-border-radius: 0;
$segment-button-ios-toolbar-button-max-width: 100%;
$segment-button-ios-toolbar-button-height: 100%;
$segment-button-ios-toolbar-line-height: 400%;
$segment-button-ios-toolbar-font-size: 1.5rem;

$tabs-ios-tab-icon-color: rgba($text-color, 0.4);
$tabs-ios-tab-icon-color-active: $text-color;

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
