.segment-ios,
.segment-md {

  .segment-button {
    color: $text-color;
    padding: 0.5rem;
    height: auto;
  }
}

.segment-custom--toolbar {
  padding: 0;
  height: 30px;
}

.segment-custom {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  background: map-get($colors, secondary);

  .button {
    padding: 0;
    margin: 0;
  }

  * {
    max-height: 36px;
  }
}

.segment-custom__item--middle {
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  background: map-get($colors, tertiary);
  min-width: 12rem;
  max-width: 14rem;

  .item-ios.item-block .item-inner {
    border: none;
  }

  .label-ios {
    color: #132433;
  }
}

.toolbar-title {
  padding: 2rem 0 !important;
}
