chartjs {
  display: block;

  .custom-chart {
    position: relative;
    display: block;
    height: 35vh;
    overflow: hidden;
    background: #0f1d29;

    canvas {
      width: 100% !important;
      height: 100% !important;
      display: block !important;
    }

    .scrubber {
      transition: right 750ms;
      transition-timing-function: ease;
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      background: #95adc1;
      height: 100%;
      z-index: 99;

      &.active {
        transition: unset;
      }
    }

    ion-spinner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
