page-wallet {
  .align-top.swiper-slide {
    align-items: flex-start;
  }

  .scroll-content, ion-list, ion-list .item {
    background: map-get($colors, secondary);
  }

  .edit-list-button {
    margin-right: 1rem;
    vertical-align: text-bottom;

    svg {
      width: 2rem;
      height: 2rem;
      #signs {
        fill: $text-color;
      }
    }
  }

  .empty-coins {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wallet-price {
    min-height: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .price {
    max-width: 80%;
    word-break: break-all;
    line-height: 1;
  }

  .grid-skewed {
    background: map-get($colors, tertiary);

    &.active {
      background: map-get($colors, secondary-dark);
    }

    ion-label {
      padding: 1.5rem 1.7rem;
    }

    button {
      padding: 1.5rem 1.7rem;
      background: transparent;
      margin: 0;
      height: 100%;
      width: 100%;

      &.activated {
        background: transparent;
      }
    }
  }
}
