<ion-header no-border>
  <ion-navbar>
    <ion-title>Wallets</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToEditWallets()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="wallet-slider">
    <ion-slides [pager]="true"
                [paginationType]="'bullets'"
                [centeredSlides]="false"
                [zoom]="false"
                (ionSlideDidChange)="slideChanged($event)">
      <ion-slide class="align-top" *ngFor="let wallet of wallets">
        <h1 class="page-title" text-center>{{wallet.name}}</h1>
        <div class="wallet-amount" text-center>
          <div class="currency">
            <span class="currency__symbol">€</span>
            <span class="currency__number">{{getTotalPrice() | numberFormatter: 'price'}}</span>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="currentWallet;else loader">
    <ion-list *ngIf="currentWallet.wallet.length > 0;else noCoins">
      <ion-item-sliding #item *ngFor="let wallet of currentWallet.wallet;trackBy: trackByCoin;let index = index;">
        <ion-item detail-none>
          <ion-avatar class="logo" item-start>
            <!--TODO fix ion image-->
            <img width="36" height="36" [src]="wallet.coin.imageUrl" [alt]="wallet.coin.name"/>
          </ion-avatar>
          <ion-label>
            <p>{{wallet.coin.name}}</p>
            <div>€ {{wallet.coin.currencies.eur.price | numberFormatter: 'price'}}</div>
            <small item-content class="price-change"
                   [ngClass]="{'negative' : detectChange(wallet.coin.currencies.eur.change)}">
              {{wallet.coin.currencies.eur.change | numberFormatter: 'perc'}}%
            </small>
          </ion-label>
          <div item-end>
            <p>€ {{getCoinPrice(wallet) | numberFormatter: 'price'}}</p>
            <p>{{wallet.amount}}</p>
          </div>
        </ion-item>
        <ion-item-options>
          <button ion-button color="primary" (click)="changeCoin(item, index)">
            edit
          </button>
          <button ion-button color="danger" (click)="delete(index)">
            remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ng-template #noCoins>
      <div padding text-center>No coins yet</div>
    </ng-template>
  </ng-container>
  <ng-template #loader>
    <!--spinner-->
  </ng-template>

  <div *ngIf="checkWallet()" padding>
    <button ion-button full (click)="addNewWallet()">Add new wallet</button>
  </div>

  <ion-fab *ngIf="wallets.length > 0" right bottom>
    <button ion-fab mini (click)="goToCoinList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
