ion-list {

  ion-label {
    //font-size: 1.8rem;
  }
}

ion-list .price {
  //font-size: 2.5rem;
}

ion-item-sliding ion-avatar {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 30px;
  height: 30px;
}
