.logo {
  border-radius: 50%;
  overflow: hidden;
  background: map-get($colors, secondary);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(map-get($colors, secondary), 0.4);
  }

  img {
    filter: saturate(60%);
  }
}

.logo--header {
  display: inline-block;
  width: 5rem;
  margin-top: 1rem;
}
