page-coin-details {
  .scroll-content {
    overflow: hidden;
  }

  .coin-title {
    font-size: 2.5rem;
    padding: 1rem;
    padding-bottom: 0.2rem;
  }

  .coin-market-cap {
    padding: 0 0 0.5rem;
    display: block;
  }

  .coin-price {
    font-size: 5rem;
    padding: 1rem;
    padding-bottom: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .chart-timestamp {
    background: $toolbar-background;
    color: $text-color;
    font-size: 1rem;
    padding: 0.6rem;
  }
}
